<button  {{ $props.serializeExcept(['dataTestId', 'text']) }} class="w-full transition-color duration-100 px-6 py-2 mt-4 text-white bg-blue-600 disabled:bg-blue-200 rounded-lg hover:bg-blue-900" data-testid="{{ dataTestId }}">
  {{{ await $slots.main() }}}
</button>
